In [1]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py): started
  Building wheel for apyori (setup.py): finished with status 'done'
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5979 sha256=08f7a64ab7166494b1b794a467e705641e6b1aaf63f0cfad6e7c4d6584c39535
  Stored in directory: c:\users\home\appdata\local\pip\cache\wheels\1b\02\6c\a45230be8603bd95c0a51cd2b289aefdd860c1a100eab73661
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [1]:
import pandas as pd
import numpy as np
from apyori import apriori
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r"C:/Users/Home/MainAcademy/groceries.csv", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
1,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df = df.drop(0, 1)
df = df.drop(np.where(df[1] == 'Item 1')[0])
df

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,31,32
1,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9831,sausage,chicken,beef,hamburger meat,citrus fruit,grapes,root vegetables,whole milk,butter,whipped/sour cream,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9832,cooking chocolate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9833,chicken,citrus fruit,other vegetables,butter,yogurt,frozen dessert,domestic eggs,rolls/buns,rum,cling film/bags,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9834,semi-finished bread,bottled water,soda,bottled beer,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9835,chicken,tropical fruit,other vegetables,vinegar,shopping bags,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.describe()

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,31,32
count,9835,7676,6033,4734,3729,2874,2229,1684,1246,896,...,14,8,7,7,6,5,4,1,1,1
unique,158,151,155,153,150,137,138,140,128,120,...,13,7,6,7,5,4,3,1,1,1
top,sausage,whole milk,whole milk,whole milk,rolls/buns,soda,soda,shopping bags,soda,shopping bags,...,waffles,bottled beer,chocolate,margarine,hygiene articles,napkins,house keeping products,skin care,hygiene articles,candles
freq,825,654,506,315,176,150,120,76,61,49,...,2,2,2,1,2,2,2,1,1,1

In [4]:
list_of_sets = []
for i in range(df.shape[0]):
    list_of_sets.append([str(df.values[i,j]) for j in range(df.shape[1]) if pd.notna(df.values[i,j])])
list_of_sets[:3]

[['citrus fruit', 'semi-finished bread', 'margarine', 'ready soups'],
 ['tropical fruit', 'yogurt', 'coffee'],
 ['whole milk']]

### Топ-3 продуктів

In [5]:
list_of_products = []
for i in list_of_sets:
    for y in i:
        list_of_products.append(y)
#list_of_products

from collections import Counter
dict_prod_val = Counter(list_of_products)
top_3 = dict(Counter(dict_prod_val).most_common(3))
print(f"Топ 3 продуктів, які купують найчастіше:")
for key, values in top_3.items():
    print(key, values)

Топ 3 продуктів, які купують найчастіше:
whole milk 2513
other vegetables 1903
rolls/buns 1809

### Вибір топ-2 пари продуктів

In [6]:
from itertools import combinations

def collect_pairs(list_of_sets):
    pair_counter = Counter()
    for set_ in list_of_sets:
        unique_pairs = sorted(set(set_)) 
        combos = combinations(unique_pairs, 2)
        pair_counter += Counter(combos)
    return pair_counter

pairs = collect_pairs(list_of_sets)

print(f'Найчастіше зустрічається комбінація продуктів\n{pairs.most_common(2)[0]}\n{pairs.most_common(2)[1]}')

Найчастіше зустрічається комбінація продуктів
(('other vegetables', 'whole milk'), 736)
(('rolls/buns', 'whole milk'), 557)

In [7]:
result = list(apriori(list_of_sets, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2, max_length=2))
result[0]

RelationRecord(items=frozenset({'whipped/sour cream', 'baking powder'}), support=0.004575495678698526, ordered_statistics=[OrderedStatistic(items_base=frozenset({'baking powder'}), items_add=frozenset({'whipped/sour cream'}), confidence=0.25862068965517243, lift=3.607850330154072)])

In [8]:
res_list = []
for x in result:
    rule = [x for x in x[0]]
    support = x[1]
    confidence = x[2][0][2]
    lift = x[2][0][3]
    full_set_info = rule, support, confidence, lift
    res_list.append(full_set_info)
res_list

[(['whipped/sour cream', 'baking powder'],
  0.004575495678698526,
  0.25862068965517243,
  3.607850330154072),
 (['beef', 'root vegetables'],
  0.017386883579054397,
  0.3313953488372093,
  3.0403668431100312),
 (['whipped/sour cream', 'berries'],
  0.009049313675648195,
  0.27217125382262997,
  3.796885505454703),
 (['bottled beer', 'liquor'],
  0.004677173360447382,
  0.4220183486238532,
  5.240594013529793),
 (['bottled beer', 'red/blush wine'],
  0.004880528723945094,
  0.253968253968254,
  3.1537598204264876),
 (['flour', 'sugar'],
  0.00498220640569395,
  0.28654970760233917,
  8.46311223504206),
 (['herbs', 'root vegetables'],
  0.007015760040671073,
  0.43124999999999997,
  3.956477378731343),
 (['sausage', 'sliced cheese'],
  0.007015760040671073,
  0.2863070539419087,
  3.047434930215013)]

In [9]:
df_1 = pd.DataFrame(res_list)
df_1

                                     0         1         2         3
0  [whipped/sour cream, baking powder]  0.004575  0.258621  3.607850
1              [beef, root vegetables]  0.017387  0.331395  3.040367
2        [whipped/sour cream, berries]  0.009049  0.272171  3.796886
3               [bottled beer, liquor]  0.004677  0.422018  5.240594
4       [bottled beer, red/blush wine]  0.004881  0.253968  3.153760
5                       [flour, sugar]  0.004982  0.286550  8.463112
6             [herbs, root vegetables]  0.007016  0.431250  3.956477
7             [sausage, sliced cheese]  0.007016  0.286307  3.047435

In [10]:
df_1.rename(columns={df_1.columns[0]: 'rule', df_1.columns[1]: 'support', df_1.columns[2]: 'confidence', df_1.columns[3]: 'lift'}, inplace = True)
df_1

                                  rule   support  confidence      lift
0  [whipped/sour cream, baking powder]  0.004575    0.258621  3.607850
1              [beef, root vegetables]  0.017387    0.331395  3.040367
2        [whipped/sour cream, berries]  0.009049    0.272171  3.796886
3               [bottled beer, liquor]  0.004677    0.422018  5.240594
4       [bottled beer, red/blush wine]  0.004881    0.253968  3.153760
5                       [flour, sugar]  0.004982    0.286550  8.463112
6             [herbs, root vegetables]  0.007016    0.431250  3.956477
7             [sausage, sliced cheese]  0.007016    0.286307  3.047435

### топ-2 пари по параметру support

In [11]:
df_1 = df_1.sort_values(by='support', ascending=False)
df_1.head(2)

                            rule   support  confidence      lift
1        [beef, root vegetables]  0.017387    0.331395  3.040367
2  [whipped/sour cream, berries]  0.009049    0.272171  3.796886

### топ-2 пари по параметру confidence

In [12]:
df_1 = df_1.sort_values(by='confidence', ascending=False)
df_1.head(2)

                       rule   support  confidence      lift
6  [herbs, root vegetables]  0.007016    0.431250  3.956477
3    [bottled beer, liquor]  0.004677    0.422018  5.240594

### топ-2 пари по параметру lift

In [13]:
df_1 = df_1.sort_values(by='lift', ascending=False)
df_1.head(2)

                     rule   support  confidence      lift
5          [flour, sugar]  0.004982    0.286550  8.463112
3  [bottled beer, liquor]  0.004677    0.422018  5.240594

### Висновки  
Найчастіше в сеті з'являється пари "root vegetables, beef" та "whipped/sour cream, berries", але найбільш стабільна пара - це "bottled beer, liquor", так як вона має міцний зв'язок (lift) + високу достовірність (confidence). Також слід зазначити високий зв'язок муки і цукру (sugar, flour), тож ці товари також краще ставити поруч.  
Також, виходячи з того, що 2 найпопулярніших пари продуктів включають молоко, але при цьому воно не з'являється, коли ми обмежуємо виборку в транзакціях двома товарами, можна зробити висновок, що зазвичай коли людина купує молоко, список покупок не обмежується двома товарами.  
**Протестуємо базу на всій виборці транзакцій**

In [14]:
result_2 = list(apriori(list_of_sets, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=3))
res_list_2 = []
for x in result_2:
    rule = [x for x in x[0]]
    support = x[1]
    confidence = x[2][0][2]
    lift = x[2][0][3]
    full_set_info = rule, support, confidence, lift
    res_list_2.append(full_set_info)
res_list_2

df_2 = pd.DataFrame(res_list_2)
df_2.rename(columns={df_2.columns[0]: 'rule', df_2.columns[1]: 'support', df_2.columns[2]: 'confidence', df_2.columns[3]: 'lift'}, inplace = True)
df_2.shape

df_2 = df_2.sort_values(by='support', ascending=False)
df_2.head(2)

,rule,support,confidence,lift
1,"[beef, root vegetables]",0.017387,0.331395,3.040367
37,"[other vegetables, root vegetables, tropical f...",0.012303,0.342776,3.144780

In [15]:
df_2 = df_2.sort_values(by='confidence', ascending=False)
df_2.head(2)

,rule,support,confidence,lift
36,"[other vegetables, pip fruit, whipped/sour cream]",0.005592,0.604396,3.123610
18,"[other vegetables, yogurt, chicken]",0.004881,0.585366,3.025262

In [16]:
df_2 = df_2.sort_values(by='lift', ascending=False)
df_2.head(2)

,rule,support,confidence,lift
5,"[flour, sugar]",0.004982,0.286550,8.463112
57,"[other vegetables, yogurt, root vegetables, tr...",0.004982,0.236715,5.452206

### Висновок_2
з цього ми бачимо, що міцні зв'язки має група продуктів: овочі, фрукти та йогурт. До того ж зазвичай покупці, які купують ці товари, беруть більше двох найменувань в одному чеку.